.project__buttons
  display grid
  justify-content center
  grid-template-columns auto auto
  grid-gap 10px

.buttons-group
  justify-self end

.tasks__list--done .buttons-group
  align-self center

.button--submit
  background var(--main-color)
  color #ffffff
  padding 10px
  border 1px solid #187b9a
  text-align center

.link-button
  text-decoration none
  display block
  height 40px
  line-height 40px
  margin 10px auto

.button--info
  width 60px
  height 20px
  border 1px solid #ededed
  text-align center
  background #006989
  color #fff
  box-sizing content-box

.button--danger
  background #E53A40
  color #fff

.button--small
  width 30px


@media (max-width: 960px) and (max-device-width: 960px)
  .buttons-group
    justify-self start

  .project__buttons
    grid-template-columns 1fr
