.dashboard__title
  text-align center
  text-transform uppercase
  color #ffffff
  background #006989
  margin 10px 0
  padding 10px 0

.dashboard__item
  border-bottom 1px solid #006989

.dashboard__item-title
  color #006989

.dashboard__item-tasks
  padding-left 15px

.dashboard__item-task
  border-left 4px dotted #a3bac3
  padding 5px

.dashboard__select
  margin-left 10px
  border none
  background #006889
  color #fff
  outline 0
  text-transform uppercase
  font-weight bold

.dashboard__select:hover
  cursor pointer