.dashboard-title
  text-align center
  text-transform uppercase
  color #ffffff
  background #006989
  margin 10px 0
  padding 10px 0


.dashboard-item
  border-bottom 1px solid #006989

.dashboard-item-title
  color #006989

.dashboard-item-tasks
  padding-left 15px

.dashboard-item-task
  border-left 4px dotted #a3bac3
  padding 5px