.header
  background #006989
  border-bottom 10px solid #A3BAC3
  padding 5px
  margin-bottom 10px

.header-menu-item
  list-style none
  display inline-block
  padding 0 5px
  color #ffffff

.header-menu-item a
  color #fafafa
  text-decoration none

.header-menu-item a:hover
  color #EAEBED
  border-bottom 1px solid #A3BAC3

.userInfo
  font-style italic
  font-size 12px