header
  background #383A3F
  border-bottom 10px solid #E53A40
  padding 5px
  margin-bottom 10px

.header-menu-item
  list-style none
  display inline-block
  padding 0 5px
  color #ffffff

.header-menu-item a
  color #fafafa
  text-decoration none

.header-menu-item a:hover
  color #E71D36

.userInfo
  font-style italic
  font-size 12px