.header
  background var(--mainBlue)
  border-bottom 5px solid var(--myOrange)
  padding 5px
  margin-bottom 10px

.nav
  margin-left 0
  padding-left 0

.nav__item
  list-style none
  display inline-block
  padding 0 10px 0 0
  color #ffffff

.nav__item a
  color #fafafa
  text-decoration none

.nav__item a:hover
  color #EAEBED
  border-bottom 1px solid #A3BAC3

.nav__user
  font-style italic
  font-size 12px