:root
  --main-color #006989
  --second-color #A3BAC3

html, body
  height 100%
  min-height 100%
  margin 0
  padding 0
  line-height 1

body
  color #666666
  font-family Arial, Helvetica, sans-serif
  font-size 16px

button:focus
  outline 0

#app
  height 100%
  min-height 100%

.wrapper
  display grid
  grid-template-rows auto 1fr auto
  min-height 100%

.content-wrapper
  width 80%
  margin 0 auto

.page-title
  text-align center
  text-transform uppercase
  color #007090
  margin-left 0
  margin-right 0


/* HEADER */
@import 'header.styl'

label
  display block
  padding 5px
  font-weight bold
  text-align center

input[type="submit"]:hover, input[type="button"]:hover, button:hover
  cursor pointer

.text-field
  border 1px solid #A3BAC3
  padding 10px
  color #383A3F

.server-response
  text-align center
  font-weight bold
  padding 10px

.inline-form
  display inline-block

.sign:hover
  cursor pointer

.edit-form
  width auto

.edit-form .text-field
  display inline-block

.strikethrough
  text-decoration line-through
  color #ccc

.warning-message
  color #856404
  background-color #fff3cd
  border-color #ffeeba
  padding 0.75rem 1.25rem
  margin-bottom 1rem
  border 1px solid transparent
  border-radius 0.25rem

.warning-message p
  margin 0
  padding 4px 0px

.pretty-time
  background #006889
  color #ffffff
  padding 5px
  margin-left 10px

.pagination
  margin-top 10px
  text-align center
  display flex
  justify-content space-between

.pagination a
  background #353f51
  color #fafafa
  padding 6px

/* PROJECTS */
@import 'projects.styl'
/* TASKS */
@import 'tasks.styl'
/* TIMER */
@import 'timer.styl'
/* TIMELOGS */
@import 'timelog.styl'
/* DASHBOARD */
@import 'dashboard.styl'
/* BUTTONS STUFF */
@import 'buttons.styl'

/* FOOTER */

footer
  background #006989
  border-top 10px solid #a3bac3
  color #fafafa
  text-align center
  margin-top 30px

.footer__link
  color #fafafa
  text-decoration none
  border-bottom 1px solid #eeeeee

@media (max-width: 360px) and (max-device-width: 360px)
  .content-wrapper
    margin 0
    width auto
