body
  color #666666
  font-family Arial, Helvetica, sans-serif
  font-size 16px

label
  display block
  padding 5px
  font-weight bold

input[type="submit"]:hover, input[type="button"]:hover, button:hover
  cursor pointer

.content-wrapper
  width 80%
  margin 0 auto

.form
  width 300px
  margin 0 auto

.text-field
  border 1px solid #cccccc
  border-radius 5%
  padding 5px
  height 18px
  display block
  width 300px
  color #383A3F

.submit-button
  width 300px
  height 40px
  background #30A9DE
  color #ffffff
  border-radius 5%
  margin 10px 0
  padding 5px
  border 1px solid #fafafa
  text-align center

.link-button
  text-decoration none
  display block
  height 40px
  line-height 40px
  margin 10px auto

.danger-button
  width 60px
  height 20px
  border 1px solid #ededed
  text-align center
  background #E53A40
  color #fff

.info-button
  width 60px
  height 20px
  border 1px solid #ededed
  text-align center
  background #30a9de
  color #fff

.link
  display inline-block
  text-decoration none
  padding 1px 6px
  box-sizing border-box

.page-title
  text-align center
  text-transform uppercase

.server-response
  text-align center
  font-weight bold
  padding 10px

.inline-form
  display inline-block

.sign:hover
  cursor pointer

.edit-form
  width auto

.edit-form .text-field
  display inline-block


.buttons-group
  display inline-block
  margin-left 15px
  border 1px solid #eee

.strikethrough
  text-decoration line-through
  color #ccc


@import 'header.styl'
@import 'projects.styl'
