html, body
  height 100%
  margin 0
  padding 0
  line-height 1

body
  color #666666
  font-family Arial, Helvetica, sans-serif
  font-size 16px
  min-height 100%

button:focus
  outline 0

#app
  height 100%
  min-height 100%

.wrapper
  display grid
  grid-template-rows 0fr 1fr
  height 100%

footer
  grid-row-start 3
  grid-row-end 3
  background #006989
  border-top 10px solid #a3bac3
  color #fafafa
  text-align center
  margin-top 30px

.footer-link
  color #fafafa
  text-decoration none
  border-bottom 1px solid #eeeeee

label
  display block
  padding 5px
  font-weight bold
  text-align center

input[type="submit"]:hover, input[type="button"]:hover, button:hover
  cursor pointer

.content-wrapper
  width 80%
  margin 0 auto

.page-title
  text-align center
  text-transform uppercase
  color #007090
  margin-left 0
  margin-right 0

.form
  width 310px
  margin 0 auto

.text-field
  border 1px solid #A3BAC3
  padding 4px
  height 18px
  display block
  width 60%
  margin 0 auto
  max-width 280px
  color #383A3F

.submit-button
  width 60%
  max-width 280px
  height 40px
  display block
  background #006989
  color #ffffff
  margin 10px auto
  padding 5px
  border 1px solid #fafafa
  text-align center
  box-sizing content-box

.link-button
  text-decoration none
  display block
  height 40px
  line-height 40px
  margin 10px auto

.info-button
  width 60px
  height 20px
  border 1px solid #ededed
  text-align center
  background #006989
  color #fff
  box-sizing content-box

.danger-button
  background #E53A40
  color #fff

.server-response
  text-align center
  font-weight bold
  padding 10px

.inline-form
  display inline-block

.sign:hover
  cursor pointer

.edit-form
  width auto

.edit-form .text-field
  display inline-block

.strikethrough
  text-decoration line-through
  color #ccc

.warning-message
  color #856404
  background-color #fff3cd
  border-color #ffeeba
  padding 0.75rem 1.25rem
  margin-bottom 1rem
  border 1px solid transparent
  border-radius 0.25rem

.warning-message p
  margin 0
  padding 4px 0px

@import 'header.styl'
@import 'projects.styl'
@import 'dashboard.styl'

@media (max-width: 360px) and (max-device-width: 360px)
  .content-wrapper
    margin 0
    width auto
