@media (max-width: 720px)
  .content-wrapper
    margin 0
    width auto

  .dashboard__header
    display grid
    justify-content center
  
  .dashboard__select
    padding 10px
    
  .projects__item, .projects__item--done, .tasks__list-item, .tasks__list-item--done
    padding 16px 8px
    height 70px
    
  .projects__item:hover .buttons-group
    display grid 
    justify-self end
  
  .project-name
    display grid
  
  .tasks__list-item
    height auto
    
  .tasks__list-input
    margin-bottom 10px
  
  .landing-content
    display grid 
    grid-template-columns 1fr