.projects-list
  border-left 4px solid #006989
  padding 0
  margin 0

.projects-list-item, .projects-list-item--done
  list-style none
  padding 10px 8px
  border-bottom 1px solid #A3BAC3
  display grid
  grid-template-columns 1fr 1fr 1fr

.done-date
  justify-self center

.buttons-group
  justify-self end

.projects-list-item:last-child
  border none

.project-list-title
  text-decoration none
  display block
  color #006989
  text-transform uppercase
  font-size 1.5em

.project-list-title:hover
  color #01A7C2

.task-name
  grid-column 1/3

.projects-list-item--done .task-name
  grid-column 1

.timer-block
  background #EAEBED
  margin-top 10px
  color #fff
  height 3em
  border-bottom none
  grid-column 1 / -1
  display flex
  justify-content space-between

.timer-block__button
  border none
  width 90px
  height 3em
  background #006989
  color #ffffff
  text-transform uppercase


.timer-item
  font-weight bold
  padding-right 20px
  color #006989
  font-size 2em
  align-self center

.timelog-title
  margin-bottom 10px
  margin-top: 10px
  background #eee
  padding 5px
  text-align center

.timelog-item-span
  margin-right 10px

.pagination
  margin-top 10px
  text-align center
  display flex
  justify-content space-between

.pagination a
  background #353f51
  color #fafafa
  padding 6px