.projects-list
  border-left 4px solid #383A3F
  padding 0

.projects-list-item
  list-style none
  padding 10px 8px
  border-bottom 1px solid #6E7783
  display flex
  justify-content space-between

.projects-list-item:last-child
  border none

.project-list-title
  text-decoration none
  display block
  color #383A3F
  text-transform uppercase
  font-size 1.5em
