.projects-list
  border-left 4px solid #77AAAD
  padding 0

.projects-list-item
  list-style none
  background #77AAAD
  padding 10px 8px
  border-bottom 1px solid #6E7783

.projects-list-item:last-child
  border none

.projects-list-item:nth-child(odd)
  background #fff
  color #383A3F

.projects-list-item:nth-child(odd) .project-list-title
  color #383A3F

.project-list-title
  text-decoration none
  color #FFFFF3
  display block
  text-transform uppercase
  font-size 2em

.projects-list-item:hover
  background #D8E6E7
  cursor pointer

.projects-list-item:hover .project-list-title
  color #383A3F