.settings--select
  padding 10px
  border 2px solid var(--mainBlue)
  
.settings--field
  border 0
  margin 10px 0
  padding 15px 0

.settings--legend
  background var(--mainBlue)
  padding 10px
  display block
  width 100%
  color #fff
  margin 0
  
.settings-input
  border 1px solid var(--mainBlue)
  padding 5px
  color #333
  
.settings-submit
  width 200px
  margin 0 auto 
  display block