/* SINGLE PROJECT PAGES SHOWING LIST OF TASKS */

.tasks__list, .tasks__list--done
  @extend .projects__list

.tasks__list--done
  margin-top 20px

.tasks__list-item, .tasks__list-item--done
  @extends .projects__item

.tasks__list-item--done
  grid-template-columns 1fr 1fr

.tasks__list-item--done .tasks__list-name
  display grid
  grid-gap 10px 0

.tasks__list-item--done .pretty-time
  margin 0

.tasks__list-date
  justify-self center
  align-self center

.form__newtask
  display grid
  grid-template-columns 1fr 1fr 1fr

.form__title
  grid-column 1/-1

.tasks__list-name, .projects__item-title, .tasks__list-input
  grid-column 1/3

.tasks__list-item--done .tasks__list-name
  grid-column 1


@media (max-width: 960px) and (max-device-width: 960px)
  .tasks__list-item, .tasks__list-item--done
    grid-template-columns 1fr

  .tasks__list-name, .tasks__list-input
    display grid
    grid-template-columns 1fr

  .pretty-time
    margin-left 0
    margin-top 10px

