.timelogs
  margin 0
  padding 0
  width 100%
  border-collapse collapse

.timelogs__item
  border-top 1px solid #f1f1f1

.timelogs__item td
  padding 20px 0
  padding-left 5px

.timelogs__title
  text-align left
  background #f1f1f1
  padding 15px 0
  padding-left 5px
  text-transform uppercase 
  color #4A4A4A
  font-weight 600

.timelogs__deletecell
  visibility hidden

.timelogs__item:hover .timelogs__deletecell
  visibility visible

.timelogs__item:hover
  background #fcf8f8
  cursor pointer

.timelogs__item-delete
  border 0
  border-radius 3px
  margin-left 5px

