.timelogs
  margin 0
  padding 0

.timelogs__item
  @extends .projects__item

.timelogs__title
  margin-bottom 10px
  margin-top 10px
  background #eee
  padding 5px
  text-align center
  list-style none

.timelogs__item-delete
  border 0
  border-radius 3px
  margin-left 5px

.timelogs__item-time
  justify-self end

.timelogs__item-task
  justify-self center