.timer
  background var(--myGrey)
  margin-top 10px
  color #fff
  height 3em
  border-bottom none
  grid-column 1 / -1
  display flex
  justify-content space-between

.timer__buttons
  display: flex

.timer__buttons-item
  border none
  width 90px
  height 3em
  background var(--mainBlue)
  color #ffffff
  font-weight bold
  text-transform uppercase

.timer__buttons-item:hover
  background var(--secondBlue)

.timer__buttons-item--green
  background #1f9454

.timer__buttons-item--green:hover
  background #2c735d

.timer__time
  font-weight bold
  padding-right 20px
  color var(--main-color)
  font-size 2em
  align-self center

.timer:last-child
  padding-right 10px

.timer__addTimeForm
  align-self center
  color var(--main-color)
  display flex
  justify-content space-between

.timer__addTimeForm-project
  justify-content center
  margin-top 10px

.timer__addTimeForm-input
  width 30px
  border 2px solid var(--main-color)
  font-weight bold
  color var(--main-color)
  text-align center

.timer__addTimeForm-submit
  border 2px solid var(--main-color)
  font-weight bold
  text-align center
  color var(--main-color)


@media (max-width: 960px) and (max-device-width: 960px)
  .timer
    display grid
    height auto
    justify-content unset

  .timer:last-child
    padding-right 0

  .timer__buttons
    display grid
    grid-template-columns 1fr 1fr

  .timer__buttons-item
    width auto

  .timer__time
    text-align center
    padding-right 0
    margin 10px 0px

  .timer__addTimeForm
    justify-content center
    margin 10px 0px